'.source.oz':
  'editor':
    'increaseIndentPattern': '(?x)^(\\s*|.+=\\s*)\n    (\n      \\b(\n        class|proc|fun|local|import\n        |if|else|elseif|for|in\n        |case|meth\n      )\\b(?!.*?\\bend\\b)\n    |\n      # case .. of nil then .. (brackets) H|T then\n      \\bof\\s.+\\s+then\\b|\\[\\]\\s.+\\sthen\n    )\n    .*$'
    'decreaseIndentPattern': '(?x)\n  (\n    ^\\s*(\n      (end|else|elseif|in|define)\\b\n    |\n      # case .. of nil then .. (brackets) H|T then\n      \\bof\\s.+\\s+then\\b|\\[\\]\\s.+\\sthen\n    )\n  )'
